<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/myjs.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    
    <!-- datatable start -->
    
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        } );
    } );
</script>

    <!-- datatable end -->

    <title>Donation management System</title>
</head>


<body>
    <!--varticle navbar start-->
    <div class="bg-white vertical-nav" id="sidebar">
        <div class="py-4 px-3 bg-light mb-1">
            <p class="text-center font-weight-bold text-uppercase px-2 sidebar-title">Donation Management System</p>
        
            <div class="media d-flex align-items-center">
                <img src="{% static 'images/admin.jpg' %}" width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 class="mb-0">Admin</h4>
                    <p class="text-muted mb-0">{{request.user.email}}</p>
                </div>
            </div>
        
        </div>

        <ul class="nav flex-column bg-white">
            <li class="nav-item">
                <a href="{% url 'admin_home' %}" class="nav-link text-dark bg-light">
                    <i class="fas fa-tachometer-alt fa-fw mr-3 text-primary"></i>
                    Dashboard</a>
            </li>


            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-chart-bar fa-fw mr-3 text-primary"></i>
                    Donation Management</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'pending_donation' %}">New Donation Request</a>
                    <a class="dropdown-item" href="{% url 'accepted_donation' %}">Accepted Donations</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="{% url 'manage_donor' %}" class="nav-link text-dark bg-light">
                    <i class="fas fa-tachometer-alt fa-fw mr-3 text-primary"></i>
                    Manage Donor</a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-chart-bar fa-fw mr-3 text-primary"></i>
                    Manage Volunteer</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'new_volunteer' %}">New Volunteer</a>
                    <a class="dropdown-item" href="{% url 'accepted_volunteer' %}">Accepted Volunteer</a>
                    <a class="dropdown-item" href="{% url 'rejected_volunteer' %}">Rejected Volunteer</a>
                    <a class="dropdown-item" href="{% url 'all_volunteer' %}">All Volunteer</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-chart-bar fa-fw mr-3 text-primary"></i>
                    Donation Area</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'add_area' %}">Add Donation Area</a>
                    <a class="dropdown-item" href="{% url 'manage_area' %}">Manage Donation Area</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-chart-bar fa-fw mr-3 text-primary"></i>
                    Contact us Queries</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">Unread Queries</a>
                    <a class="dropdown-item" href="">Read Queries</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark bg-light" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-chart-bar fa-fw mr-3 text-primary"></i>
                    Booking</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">New Booking</a>
                    <a class="dropdown-item" href="">Old Booking</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-dark bg-light">
                    <i class="fas fa-cog mar-3 text-primary fa-fw"></i>
                    Change Password
                </a>
            </li>

        </ul>


    </div>

    <!--varticle navbar end-->

    <!--varticle navbar start-->
    <div class="page-content p-4" id="content">

        <a href="{% url 'logout' %}" title="logout" class="text-white float-right"><i class="fas fa-sign-out-alt"></i>Logout</a>

    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
        <i class="fas fa-bars mr-2"></i>
        <small class="text-uppercase font-weight-bold">Toggle</small>
    </button>

        {% block main %}

        {% endblock %}


    </div>

    <!--varticle navbar end-->
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('.sidebar').toggleClass('active');
                $('.content').toggleClass('active');
            });
        });
        $(document).ready(function() {
            // Initialize Bootstrap dropdown
            $('.dropdown-toggle').dropdown();
        });
    </script>
    
    

</body>
</html>