<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <h1>LogIn</h1>
        <form action="#">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <div class="recover">
                <a href="#">Forgot Password?</a>
            </div>
        </form>
        <button>LogIn</button>
        <div class="member">
            Not a member? <a href="{% url 'signup' %}">
                Register Now
            </a>
        </div>
    </div>
</body>
</html>