<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer</title>
</head>
<body>
    {% include 'common_code/base.html' %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
          {%for volunteer in volunteer %}
          <tr>
            <td>{{volunteer.first_name}}</td>
            <td>{{volunteer.last_name}}</td>
            <td>{{volunteer.age}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>